@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.bg-image {
  background-image: url(/img/bgstreg.svg);
  background-size: cover;
  background-position: center;
  width: auto;
  height: auto;
}

@font-face {
  font-family: playfair;
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url("/fonts/playfair.woff2") format("woff2");
}

h1 {
  font-family: "playfair";
  font-size: 48px;
}

h2, h3 {
  font-family: "playfair";
  font-size: 22px;
}

p {
  font-size: medium;
}

li {
  font-family: "playfair";
  font-size: large;
}

@keyframes grow {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}

.animate-grow {
  animation: grow 5s ease-in-out forwards;
}
